body {
    font-family: 'Open Sans', sans-serif;
}

.verse, .verse-header {
    text-align: center;
    font-family: 'PT Serif', sans-serif;
}

.verse {
    margin: 10px 15%;
    font-size: 20px;
    line-height: 170%;
}

.grade-container {
    border-collapse: collapse;
    margin-left: auto; 
    margin-right: auto
}

.grade-container th {
    background: rgb(215, 215, 215)
}

.editable-cell {
    cursor: context-menu;
}

.editable-cell:hover, .type-cell {
    background: rgb(151, 151, 151);
    color: whitesmoke;
}

.type-cell input {
    max-width: 50px;
}

.grade-info {
    text-align: center;
}